body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(170deg, #80b0f7 0%, #3b5af6 100%);
}

#forecast-container::-webkit-scrollbar {
  height: 6px;
}
#forecast-container::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.5);
  border-radius: 9999px;
}
#forecast-container::-webkit-scrollbar-track {
  background: rgba(59, 130, 246, 0.1);
}
